<h1>Solve a polynomial!</h1>

<%= simple_form_for :operand, url: polynomials_path do |f| %>
  <p><b>a</b> * X<sup>2</sup> + <b>b</b> * X + <b>c</b> = <b>d</b></p>

  <%= f.input :a, label: 'a' %>
  <%= f.input :b, label: 'b' %>
  <%= f.input :c, label: 'c' %>
  <%= f.input :d, label: 'd' %>
  <%= f.button :submit, 'Solve!' %>
<% end %>

